p{
    color: violet;
    font-family: cursive;
}


.intro{
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
  color: bisque;
  border: 4px, dotted, crimson;
  border-radius: 6px;
}

/*styles the strong element w/in a p element*/
p strong{
  color: rgb(234, 150, 120);
  background-color: midnightblue;
  text-decoration: underline dashed;

}


#navbar {
  padding: 80px;
  background-color: red;
  color: white;
}

.football {
  font-family: arial;
  background-color: lightgrey;
  color: blue;
}

.baseball {
  font-weight: bold;
  color: green;
}

.american {
  background-color: yellow;
}




table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(188, 250, 200);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  